body
{
    margin: 0;
    padding: 0;
    background-color: #28323c;
}


.wrapper
{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.wrapper a
{
    font-size: 25px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 60px;
    height: 60px;
    margin: 0 6px;
    -webkit-transition: .4s;
         -o-transition: .4s;
            transition: .4s;
    text-decoration: none;
    color: #fff;
    border-radius: 50%;
    background-color: #0e2134;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.wrapper a:hover
{
    background-color: #bda178;
}
.wrapper a i
{
    -webkit-transition: .4s;
         -o-transition: .4s;
            transition: .4s;
}
.wrapper a:hover > i
{
    -webkit-transform: scale(1.6) rotate(25deg);
        -ms-transform: scale(1.6) rotate(25deg);
            transform: scale(1.6) rotate(25deg);
}
